<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <link rel="stylesheet" href="app.css">

</head>
<body>


<div id="app" class="demo" v-cloak>
    <p>{{ message }}</p>
    <button v-on="{click:reverseMessage}">Reverse Message</button>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="app.js"></script>

</body>
</html>
